<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<meta http-equiv="refresh" content="120">
<body>
<h1>Hello,{{username}}!</h1>

<div id="signout">
    <div id="signout_context">
	Not you?
	<a href="/">Sign out</a>
	</div>
</div>


<div id="profile" style="width:700px">
    <div id="header" style="background-color:#FFA500;">
        <h2 style="margin-bottom:0;">Your Proflie</h2>
    </div>
    <div id="name" style="background-color:#EEEEEE;height:30px;width:150px;float:left;text-align:center;">
        <b>Name</b>
    </div>
    <div id="name_content" style="background-color:#F5DEB3;height:30px;width:550px;float:left;">
        {{name}}
	</div>
    <div id="field" style="background-color:#F5DEB3;height:30px;width:150px;float:left;text-align:center;">
        <b>Field</b>
    </div>
    <div id="field_content" style="background-color:#EEEEEE;height:30px;width:550px;float:left;">
        {{field}}
	</div>
    <div id="selfintro" style="background-color:#EEEEEE;height:100px;width:150px;float:left;text-align:center;vertical-align:center">
        <b>Personal Introduction</b>
    </div>
    <div id="selfintro_content" style="background-color:#F5DEB3;height:100px;width:550px;float:left;">
        {{self_introduction}}
	</div>
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
	Want to update?
	<a href="/view_to_update/{{username}}" target="_blank">Click here</a>
	</div>
</div>



<div id="friendlist" style="position:absolute;top:130px;left:720px;width:150px;height:250px;background-color:#F0FFF0">
    <div id="header";style="height:30px;width:150px;float:left;text-align:center;float:left;">
	    <b>Friends</b>
    </div>
    <div id="ftime_content" style="height:30px;width:150px;float:left;">
        {{update_time_f}}
		<hr>
	</div>
	<br>
	<div>
    {% for n in friendlist %}
    <div>{{n}}</div>
    {% endfor %}
	<hr style="margin-bottom:1;">
    </div>
	<hr style="margin-bottom:1;">
	<div id="footer_f" style="background-color:#48D1CC;clear:both;text-align:center;">
	<a href="/friendlist/{{username}}" target="_blank">click here to edit</a>
	</div>
    
</div>
  
<hr>
<h2 style="color:red">Your information is very important!!!</h2>
<p><a href="/jobseeker/{{username}}/resume" target="_blank">View your information</a></p>
<hr>


<h2 style="color:red"> Find a new activity here!</h2>
<form action="/jobseeker/{{username}}/search" target="_blank" method="post">
    <table>
	<tr> 
        Category of activities <input type="radio" name="type" value="Meeting and Outreach" > Meeting and Outreach <input type="radio" name="type" value="Workshop" checked="checked">Workshop
      <input type="radio" name="type" value="Class" checked="checked">Class<br>
        </tr>
        <tr>
            <td><label for="txttitle" >Title</label></td>
            <td><label for="txtloc" >Place</label></td>
            <td><label for="txtcategory" >Category</label></td>
      <td><label for="txttime" >Activity Time</label></td>
      <br>
      <td><label for="txtdes" >Description</label></td>
        </tr>
        <tr>         
            <td><input type="text" id="txttitle" name="title" /></td>
            <td><input type="text" id="txtloc" name="place" /></td>
                  <td><input type="text" id="txtcategory" name="category" /></td>
            <td><input type="text" id="txttime" name="time" /></td>
        <br>
            <td><input type="text" style="height:100px;width:370px" id="txtdes" name="description" /></td>
        </tr>
	<tr>
            <td colspan="2">
                <input type="reset" value="reset"/>
                <input type="submit" value="search"/>
            </td>
        </tr>
    </table>
</form> 
<hr>
<h2 style="color:red"> Don't forget to check your activity status</h2>
<p><a href="/jobseeker/{{username}}/status" target="_blank">View your job activity</a></p>

<br>
<table width="870" border="0">
  <tr>
  <td colspan="2" style="background-color:#AFEEEE;text-align:center;">copyright © job!{2}</td>
  </tr>
</table>







</body>


</html>
