<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<body>

  <h1>Hello!</h1>
  <h2>Welcome to job port</h2>
<p style="font-family:arial;color:red;font-size:20px;">Sign in here</p>

<form action="/signin" method="post">
    <table>
        <tr>
            <td><label for="txtname">Username：</label></td>
            <td><input type="text" id="txtname" name="username" /></td>
        </tr>
        <tr>
            <td><label for="txtpswd">Password：</label></td>
            <td><input type="password" id="txtpswd" name="password" /></td>
        </tr>
		<tr>  
		You are a/an<input type="radio" name="name" value="employer" checked="checked">employer <input type="radio" name="name" value="jobseeker" > jobseeker<br>
        </tr>
		<tr>
            <td colspan=2>
                <input type="reset" value="reset"/>
                <input type="submit" value="submit"/>
            </td>
        </tr>
    </table>
</form> 

<p style="font-family:arial;color:red;font-size:20px;">Not a user?<a href="/signup">Sign up here</a>

</body>


</html>
