<html>

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<meta http-equiv="refresh" content="120">

<body>
<h1>Hello,{{username}}!</h1>

<div id="signout">
    <div id="signout_context">
	Not you?
	<a href="/">Sign out</a>
	</div>
</div>

<h1>The Activities you held</h1>
<table width="700px" border="0">

	<tr>
        <td colspan="6" style="background-color:#FFA500;">
            <h1>Activity Information</h1>
        </td>
    </tr>
    <tr style="background-color:#F5DEB3;">
        <td width=150px>Category</td>
		<td width=150px >Title</td>
	    <td width=100px>Date</td>
		<td width=100px>Meeting_tpye</td>
                <td width=150px>Outreach_tpye</td>
    </tr>
	{% for row in activities %}
    <tr border='1' > 
		{% for col in row %}
		<td>{{col}}</td>
	    		{% endfor %}
	</tr>
    {% endfor %}
	<tr>
         <td colspan="6" style="background-color:#FFA500;text-align:center;">{{username}}</td>
    </tr>
</table>

<div id="friendlist" style="position:absolute;top:130px;left:720px;width:150px;height:150px;background-color:#F0FFF0">
    <div id="header";style="height:30px;width:150px;float:left;text-align:center;float:left;">
	    <b>Friends</b>
    </div>
    <div id="ftime_content" style="height:30px;width:150px;float:left;">
        {{update_time_f}}
		<hr>
	</div>
<br>
	<div>
    {% for n in friendlist %}
    <div>{{n}}</div>
    {% endfor %}
	<hr style="margin-bottom:1;">
    </div>
	<hr style="margin-bottom:1;">
	<div id="footer_f" style="background-color:#48D1CC;clear:both;text-align:center;">
	<a href="/friendlist/{{username}}" target="_blank">click here to edit</a>
	</div>
</div>

  
<hr>
<h2 style="color:red"> Don't forget to check your events</h2>
<p><a href="/staff/{{username}}/post" target="_blank">View your events</a></p>

<hr>
<h2 style="color:red"> Want to check the applications for your events?</h2>
<p><a href="/staff/{{username}}/application" target="_blank">Click here to view</a></p>

<br>
<table width="870" border="0">
  <tr>
  <td colspan="2" style="background-color:#AFEEEE;text-align:center;">copyright © Job!{2}</td>
  </tr>
</table>

</body>

</html>
